/* importing google fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body {
    display:flex;
    align-items:center;
    justify-content:center;
    min-height: 100vh;
    background: linear-gradient(#EEEEFF, #C8C7FF);
}

.chatbot-popup{
    width: 420px;
    background: #fff;
    overflow: hidden;
    border-radius:15px;
    box-shadow: 0 0 128px rgba(0,0,0,0.1), 0 32px 64px rgba(0,0,0,0.1);
}
.chat-header{
    display:flex;
    align-items: center;
    background:#5350C4;
    padding: 15px 22px;
    justify-content: space-between;
}

.chat-header .header-info {
    display:flex;
    align-items: center;
    gap: 10px;
}

.header-info .chatbot-logo {
    height : 35px;
    width:35px;
    padding: 6px;
    fill: #5350C4;
    flex-shrink: 0;
    background: #fff;
    border-radius: 50%;
}

.header-info .logo-text {
    color:#fff;
    font-size: 1.31rem;
    font-weight: 600;
}

.chat-header #close-chatbot {
    border:none;
    color:#ffff;
    height: 40px;
    width:40px;
    font-size: 1.9rem;
    margin-right: -10px;
    padding-top:2px;
    cursor:pointer;
    border-radius:50%;
    background:none;
    transition: 0.2s ease;
}

.chat-header #close-chatbot:hover{
    background:#3d39ac;

}

.chat-body {
    padding: 25px 22px;
    display:flex;
    gap:20px;
    height:460px;
    margin-bottom:82px;
    overflow-y:auto;
    flex-direction:column;
    gap:20px;
}

.chat-body .message{
    display:flex;
    gap:11px;
    align-items:center;
}

.chat-body .bot-message .bot-avatar{
    height : 35px;
    width:35px;
    padding: 6px;
    fill: #fff;
    flex-shrink: 0;
    margin-bottom: 2px;
    align-self: flex-end;
    background: #5350C4;
    border-radius: 50%;

}

.chat-body .user-message{
    flex-direction: column;
    align-items: flex-end;
}


.chat-body .message .message-text {
    padding: 12px 16px;
    max-width: 75%;
    font-size: 0.95rem;
}

.chat-body .bot-message .message-text {
    background: #f2f2ff; 
    border-radius: 13px 13px 13px 13px;
}
.chat-body .user-message .message-text {
    color: #fff;
    background: #5350C4;
    border-radius: 13px 13px 0 13px;

}
.chat-body .bot-message .thinking-indicator .dot{
    height:7px;
    width:7px;
    border-radius: 50%;
    background: #6F6BC2;
    
}


.chat-footer {
    position:absolute;
}
